{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <title>login wear ID</title>
</head>
<body>
    <div class="main-login">
        <div class="left-login">
            <img src="{% static 'assets/wearId-logo.png' %}" class="image-lg" alt="">
            <h1>Fa&ccedil;a login <br>Bem vindo a WearID</h1>
        </div>
        <div class="right-login">
            <div class="card-login">
                <h1>LOGIN</h1>
                <div class="textfield">
                    <label for="usuario">Usu&aacute;rio</label>
                    <input id="user" type="text" name="usuario" placeholder="Usu&aacute;rio" maxlength="7">
                </div>
                <div class="textfield">
                    <label for="senha">Senha</label>
                    <input id="password" type="password" name="senha" placeholder="Senha" maxlength="8">
                </div>
                <button class="btn-login">Login</button>
            </div>
        </div>
    </div>
    <script charset="{% static 'UTF-8' %}" src="{% static' js/validate.js' %}"></script>
</body>
</html>
